form {
    max-width: 80%;
    margin: 5% auto;
}

h5 {
    font-size: 24px;
    font-weight: lighter;
}

.linha {
    border-bottom: 30px solid #B1CAAC;
}

input {
    max-height: 30px;
}

.cabeçalho_post {
    display: flex;
}

.campo_imagem, .campo_titulo {
    width: 50%;
    text-align: start;
} 

h6 {
    text-align: start;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.corpo_post textarea {
    min-height: 300px;
    padding: 2%;
}

.footer_post {
    margin: 30px 0;
}

.button_post {
    text-align: end;
    margin: 2% auto 0 auto;
}

#enviar {
    min-width: 15%;
    height: 40px;
    background-color: #B1CAAC;
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    border: 2px solid #fff;
    border-radius: 10px;
}

#enviar:hover {
    background-color: #6EA864;
}

@media screen and (max-width: 800px) {
    form {
        max-width: 90%;
        margin: 5% auto;
    }
    .cabeçalho_post {
        flex-direction: column;
        margin: 0 auto 5% auto;
    }
    .campo_imagem {
        margin-bottom: 5%;
    }
}

#paleta-de-cores {
    /* White */
    background-color: #C3C3C3;
    background-color: #D9D9D9;
    
    /* Green */
    background-color: #B1CAAC;

    background-color: #B5E61D;
    background-color: #77B800;
    background-color: #6EA864;
    background-color: #22B14C;
    background-color: #15B883;

    /* Orange */
    background-color: #FFCC00;
    background-color: #EC6433;
    
    /* Blue */
    background-color: #2484C6;

    /* Black */
    background-color: #000000;
}