#paleta-de-cores {
    /* White */
    background-color: #C3C3C3;
    background-color: #D9D9D9;

    /* Green */
    background-color: #B1CAAC;

    background-color: #B5E61D;
    background-color: #77B800;
    background-color: #6EA864;
    background-color: #22B14C;
    background-color: #15B883;

    /* Orange */
    background-color: #FFCC00;
    background-color: #EC6433;

    /* Blue */
    background-color: #2484C6;

    /* Black */
    background-color: #000000;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#fff, #eee, #D9D9D9, #C3C3C3);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000;
    box-shadow: 0px 15px 100px 50px #15B883;
    padding: 1%;
    vertical-align: center;
}

.logotipo {
    width: 20%;
    font-weight: bold;
    font-family: 'Segoe Script';
    margin: auto;
}

.logo_green {
    width: 20%;
}

.logo_green:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}

.menu {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu a {
    color: #D9D9D9;
    text-decoration-line: none;
    font-size: 16px;
    margin: auto 5%;
}

.menu a:hover,
a:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
    color: #B5E61D;
}

.icons {
    width: 20%;
    margin: auto;
}

.icone_rede_social {
    width: 32px;
}

.icone_rede_social:hover {
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
}

main,
.container,
.post,
.posts,
.postagem,
.imagem {
    margin: auto;
    padding: 0;
    width: 100%;
}

.logo {
    margin: 3%;
    font-size: 32px;
    font-weight: bolder;
    color: #aea;
    text-shadow: 2px 2px 5px #F00;
}

main {
    min-height: 63.3vh;
}

.postagem {
    display: flex;
    margin-bottom: 2%;
    padding: 2%;
    background-color: #fafffa;
    border: .5px outset #15B883;
    box-shadow: 0 5px 10px rgba(0, 100, 0, 0.5);
}

.texto_post {
    text-align: justify;
    vertical-align: top;
    width: 70%;
    margin-right: 2%;
}

.titulo {
    margin: 1% auto;
    font-size: 20px;
    font-weight: bold;
    color: #050;
}

.texto {
    color: #000;
}

.link_post {
    background-color: #000;
    color: #fff;
    padding: 1% 1.5%;
}

.imagem {
    width: 30%;
}

.imagem_post {
    width: 100%;
}

.footer, .nav-link {
    background-color: #000;
    color: #fff;
    padding: 1% 5%;
}

ul {
    width: 100%;
}

li {
    margin: 1% 3%;
}

.nav-link {
    color: #ddd;
}

.nav-link:hover {
    color: #15B883;
}

.composição {
    color: #aaa;
}

@media screen and (max-width: 1350px) {
    .postagem {
        width: 90%;
    }

    .texto_post {
        width: 70%;
    }

    .imagem {
        width: 30%;
    }
}

@media screen and (min-width: 800px) {
    main {
        min-height: 70vh;
    }
}

@media screen and (max-width: 800px) {
    .postagem {
        display: block;
    }

    .imagem {
        width: 95%;
        margin: 3% 2%;
    }

    .texto_post {
        width: 90%;
        margin: auto 5%;
    }

    .header {
        flex-direction: column;
        padding: 2%;
    }

    .logotipo {
        text-align: start;
    }

    .logo_green {
        width: 10%;
        margin-top: 2%;
    }

    .logotipo,
    .menu,
    .icons {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .menu {
        flex-direction: column;
        margin: 0 auto 5% auto;
    }

    .header {
        padding: 2.5%;
    }
}

@media screen and (max-width: 200px) {
    .header {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .icons {
        display: flex;
        flex-direction: column;
        margin: 0 auto 5% auto;
    }

    .logo,
    .linha {
        font-size: 16px;
    }

    a,
    h2,
    h6,
    p {
        font-size: 12px;
    }
}