#paleta-de-cores {
    /* White */
    background-color: #C3C3C3;
    background-color: #D9D9D9;
    
    /* Green */
    background-color: #B1CAAC;

    background-color: #B5E61D;
    background-color: #77B800;
    background-color: #6EA864;
    background-color: #22B14C;
    background-color: #15B883;

    /* Orange */
    background-color: #FFCC00;
    background-color: #EC6433;
    
    /* Blue */
    background-color: #2484C6;

    /* Black */
    background-color: #000000;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 2%;
    font-size: 32px;
    max-height: 95vh;
}