#paleta-de-cores {
    /* White */
    background-color: #C3C3C3;
    background-color: #D9D9D9;
    
    /* Green */
    background-color: #B1CAAC;

    background-color: #B5E61D;
    background-color: #77B800;
    background-color: #6EA864;
    background-color: #22B14C;
    background-color: #15B883;

    /* Orange */
    background-color: #FFCC00;
    background-color: #EC6433;
    
    /* Blue */
    background-color: #2484C6;

    /* Black */
    background-color: #000000;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#fff, #eee, #D9D9D9, #C3C3C3);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: #000;
    padding: 1%;
    vertical-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu a {
    color: #D9D9D9;
    text-decoration-line: none;
    font-size: 20;
}

h1 {
    margin: 2%;
    font-size: 32px;
}