header, main, footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.posts {
    max-width: 80%;
    margin: 5% auto;
}

.titulo_postagem {
    margin-bottom: 3%;
}

.texto {
    text-align: justify;
    margin-top: 5%;
}

.referencias {
    text-align: start;
}

h5 {
    font-size: 16px;
    font-weight: bold;
}

.email {
    display: flex;
    flex-direction: column;
}

.link_funcionalidades {
    margin: 10%;
}

.editar_publicacao, .excluir_publicacao {
    margin: auto 15%;
    background-color: #000;
    color: #fff;
    padding: 1% 2%;
    font-weight: bolder;
}

.editar_publicacao:hover {
    background-color: #999;
    color: #009;
}

.excluir_publicacao:hover {
    background-color: #999;
    color: #900;
}